 <div class="uk-width-expand@m">
   
   <div class="uk-card uk-padding-small uk-card-body">

     <a routerLink="/categories/add" class="uk-button xo-button-primary uk-float-right">Add
       categories</a>
     <p class="container-header uk-margin-remove">
       Categories
     </p>
     <ul class="uk-breadcrumb xo-breadcrumb uk-align-left uk-margin-remove">
       <li><a routerLink="/">Home</a></li>
       <li><a routerLink="/categories">Categories</a></li>
     </ul>
     <br>
     <br />
     <app-data-grid [columnDefs]="columnDefs" [gridData]="gridData">
     </app-data-grid>

     <ng-template let-item="item" let-data="columnVal" #divisionColumn>
       {{ camelCaseToSpacedText(ProductDivision[data]) }}
     </ng-template>

     <ng-template let-item="item" let-data="data" #imgColumn>
       <img style="height: 40px" src="assets/img/products/aashirvad.jpg" alt="">
     </ng-template>

     <ng-template let-item="item" let-data="data" #imgColumn>
       <img style="height: 40px" src="assets/img/products/aashirvad.jpg" alt="">
     </ng-template>

     <ng-template let-item let-cols="columnVal" #moreColumn>
       <span class="material-icons-outlined xo-icon">
         more_vert
       </span>
       <div uk-drop="mode:click, pos: bottom-left" class="uk-margin-remove">
         <div class="uk-card uk-card-body uk-width-auto uk-align-right uk-padding-remove">
           <div class="uk-width-1-1@s uk-width-1-1@m">
             <ul class="uk-nav uk-nav-default primary-table-drop">
               <li (click)="editCategory(item)"><a>Edit</a></li>
               <li><a (click)="deleteCategory(item.Id)">Delete</a></li>
             </ul>
           </div>
         </div>
       </div>
     </ng-template>
   </div>
 </div>
