<div class="uk-width-expand@m">
  <form #form [formGroup]="formInstance">
    <div class="uk-card uk-padding-small uk-card-body">
      <p class="container-header uk-margin-remove">
        Add Wallet
      </p>
      <ul class="uk-breadcrumb xo-breadcrumb uk-align-left uk-margin-remove">
        <li><a routerLink="">Home</a></li>
        <li><a routerLink="/add-wallet">Add Wallet</a></li>
      </ul>
      <br>
      <div class="uk-text-center uk-margin uk-grid-collapse uk-grid-match" uk-grid>
        <div class="uk-width-expand@m">
          <div class="uk-card product-info-grid uk-padding-small uk-padding-remove-top uk-card-body uk-text-middle">
            <div class="uk-grid-small uk-text-left" uk-grid>
              <div class="uk-width-1-2@s">
                <label class="uk-form-label product-input-label" for="form-stacked-text"> Select Customer *</label>
                <ng-select [items]="customerList" placeholder="Customer"
                  formControlName="UserId">
                </ng-select>
                <!-- <input class="uk-input product-input" type="text" placeholder=""> -->
              </div>
              <div class="uk-width-1-4@s">
                <label class="uk-form-label product-input-label" for="form-stacked-text">Select Type *</label>
                <select [formControlName]="'RequestType'" class="uk-select product-select" id="form-stacked-select">
                  <option [ngValue]="1">Credit</option>
                  <option [ngValue]="0">Debit</option>
                </select>
              </div>
              <div class="uk-width-1-4@s">
                <label class="uk-form-label product-input-label" for="form-stacked-text">Amount *</label>
                <input [formControlName]="'Amount'" class="uk-input product-input" type="text" placeholder="">
              </div>
              <div class="uk-width-1-1@s">
                <label class="uk-form-label product-input-label" for="form-stacked-text">Details *</label>
                <textarea [formControlName]="'Description'" class="uk-textarea ap-product-textarea" rows="8"
                  placeholder=""></textarea>
              </div>
            </div>
          </div>
        </div>
        <div class="uk-text-right uk-padding-small uk-padding-remove-vertical">
          <button class="uk-button ap-success-btn" (click)="submitForm()">Save</button>
          &nbsp;
          <button class="uk-button ap-button-danger" (click)="resetForm()">clear</button>
        </div>
      </div>
    </div>
  </form>
</div>
 