@import url(../../../styles.scss);


.img-upload-grid {
  background-color: #f9f9f9;
  border-radius: 16px;
}

.upload-title {
  font-size: 14pt;
  text-transform: capitalize;
  color: black;
  font-weight: 500;
}

.upload-img-note {
  font-size: 9pt;
  color: grey;
  text-transform: capitalize;
}

.upload-file-grid {
  background-color: #0920fb08;
  border-radius: 16px;
  border: 2px dashed #0920fb;
}

.ap-img-icon {
  font-size: 28pt;
  color: #0920fb;
}

.ap-img-title {
  font-size: 9pt;
  color: grey;
  font-family: 'Poppins', sans-serif;
}

.uploaded-heading {
  font-size: 10pt;
  text-align: left;
  color: grey;
}

.upload-filename {
  font-size: 10pt;
  color: black;
  font-weight: 500;
  font-family: 'Poppins', sans-serif;
  text-align: left;
}

.upload-file-progress.uk-progress {
  height: 5px;
}

.product-info-grid {
  background-color: white;
}

.product-input-label {
  font-size: 9pt;
  font-weight: 500;
  display: inline-block;
  margin-bottom: 5px;
}

.product-input {
  height: 44px;
  border-radius: 8px;
  background-color: #f7f7f7;
  color: black;
  font-size: 9.5pt;
  border: none;
}

.product-input:focus {
  border: none;
}

.product-input::placeholder {
  color: grey;
}

.product-select {
  background-color: #f7f7f7;
  border-radius: 8px;
  font-size: 10pt;
  height: 44px !important;
  border: none;
}

.product-select:focus {
  border: none;
}

.ap-product-textarea {
  background-color: #f7f7f7;
  font-size: 10pt;
  color: black;
  font-family: 'Poppins', sans-serif;
  border: none;
  border-radius: 8px;
}

.product-button {
  background-color: #0920fb;
  color: white;
  height: 43px !important;
  border-radius: 8px;
  text-transform: capitalize;
  font-size: 10pt;
}

.ap-success-btn {
  position:fixed;
  border-radius: 10px;
	height:44px;
	bottom:40px;
	right:40px;
  text-transform: capitalize;
	background-color: #009c27;
	color:#FFF;
	text-align:center;
}

.uk-notification-message-success {
  color: white !important;
}

.ap-button-danger {
  position:fixed;
  border-radius: 10px;
	height:44px;
	bottom:40px;
	right:170px;
  text-transform: capitalize;
	border:1px solid #830202;
  color: #830202;
  background: none;
	text-align:center;
}
