<div class="uk-width-expand@m">
  <div class="uk-card uk-padding-small uk-card-body">
    <p class="container-header uk-margin-remove">
      Wallet History
    </p>
    <ul class="uk-breadcrumb xo-breadcrumb uk-align-left uk-margin-remove">
      <li><a routerLink="">Home</a></li>
      <li><a routerLink="/wallet-history">Wallet History</a></li>
    </ul>
    <br>
    <table class="uk-table primary-table uk-table-small uk-table-divider">
      <thead>
        <tr>
          <th>#</th>
          <th>Order Action</th>
          <th>User I'd</th>
          <th>Transaction I'd</th>
          <th>Type</th>
          <th>Total Amount</th>
          <th>Date</th>
        </tr>
      </thead>
      <tbody>
        <tr *ngFor="let item of gridData; let i = index">
          <td>{{ i }}</td>
          <td>{{ item.OrderAction }}</td>
          <td>#{{ item.UserId }}</td>
          <td>{{ item.TransactionId }}</td>
          <td><span class="uk-badge " [class.success-badge]="item.TransactionType == 1" [class.danger-badge]="item.TransactionType != 1">{{ item.TransactionType == 1 ? 'Debit' : 'Credit' }}</span></td>
          <td>{{ item.Amount }}</td>
          <td>{{ item.TimeStamp }}</td>
        </tr>
      </tbody>
    </table>
  </div>
</div>