<div class="uk-width-expand@m">
  <div class="uk-card uk-padding-small uk-card-body">
    <p class="container-header uk-margin-remove">
      Wallet History
    </p>
    <ul class="uk-breadcrumb xo-breadcrumb uk-align-left uk-margin-remove">
      <li><a routerLink="">Home</a></li>
      <li><a routerLink="/wallet-history">Wallet History</a></li>
    </ul>
    <br>
    <table class="uk-table primary-table uk-table-small uk-table-divider">
      <thead>
        <tr>
          <th>#</th>
          <th>Order I'd</th>
          <th>User I'd</th>
          <th>Transaction I'd</th>
          <th>Type</th>
          <th>Total Amount</th>
          <th>Date</th>
        </tr>
      </thead>
      <tbody>
        <tr>
          <td>1</td>
          <td>#819913889</td>
          <td>127121888</td>
          <td>9900141870122</td>
          <td><span class="uk-badge success-badge">Debit</span></td>
          <td>1489</td>
          <td>18.09.2021</td>
        </tr>
      </tbody>
    </table>
  </div>
</div>