<div class="uk-container uk-container-xlarge uk-padding-small">
    <p class="heading">manage mobile apps</p>
    <div class="uk-child-width-1-2@s uk-child-width-1-5@m uk-text-center" uk-grid>
        <div>
            <div routerLink="/slider-banner" class="uk-card uk-padding-small  uk-card-body">
                <p class="title">Slider Banner</p>
            </div>
        </div>
        <div>
            <div routerLink="/mobile-custom-offer" class="uk-card uk-padding-small  uk-card-body">
                <p class="title">Custom Offers</p>
            </div>
        </div>
    </div>
</div>
