<div class="uk-card sidenav-bar uk-card-body">

  <img src="assets/img/icon.png" alt="" class="sidenav-logo">

  <div [ngClass]="{ 'uk-width-1-1@s uk-width-1-1@m uk-margin-top' : true, 'is-closed' : !open }">

    <ul class="uk-nav-default sidenav-menu uk-nav-parent-icon" uk-nav>

      <li class="uk-active">
        <a routerLink="/home">
          <span class="material-icons-outlined">
            home
          </span> 
          <span class="menu-title">Home</span>
        </a>
      </li>

      <li class="uk-parent">
        <a href="#">
          <span class="material-icons-outlined">
            local_mall
          </span>
          <span class="menu-title">
            Orders
          </span>
          <span class="material-icons-outlined chev-down">
            navigate_next
          </span>
        </a>
        <ul class="uk-nav-sub">
          <li class="sidenav-dropdown"><a routerLink="/orders">Orders</a></li>
          <li class="sidenav-dropdown"><a routerLink="/returns">Return / Cancel</a></li>
          <li class="sidenav-dropdown"><a routerLink="/refunds">Refund</a></li>
        </ul>
      </li>

      <li>
        <a routerLink="/customers">
          <span class="material-icons-outlined">
            people
          </span>
          <span class="menu-title">
            Customers
          </span>
        </a>
      </li>

      <li class="uk-parent">

        <a href="#">
          <span class="material-icons-outlined">
            storefront
          </span>
          <span class="menu-title">Products</span>
          <span class="material-icons-outlined chev-down">
            navigate_next
          </span>
        </a>

        <ul class="uk-nav-sub">
          <li class="sidenav-dropdown"><a routerLink="/products">Products</a></li>
          <li class="sidenav-dropdown"><a routerLink="/add-products">Add Products</a></li>
          <li class="sidenav-dropdown"><a routerLink="/upload-csv">Upload Csv</a></li>
          <li class="sidenav-dropdown"><a routerLink="/categories">Categories</a></li>
          <li class="sidenav-dropdown"><a routerLink="/sub-categories">Sub-Categories</a></li>
          <li class="sidenav-dropdown"><a routerLink="/brands">Brands</a></li>
        </ul>
      </li>

      <li class="uk-parent">
        <a href="#">
          <span class="material-icons-outlined">
            travel_explore
          </span>
          <span class="menu-title">Manage Apps</span>
          <span class="material-icons-outlined chev-down">
            navigate_next
          </span>
        </a>
        <ul class="uk-nav-sub">
          <li class="sidenav-dropdown"><a href="#">Payment Request</a></li>
          <li class="sidenav-dropdown"><a href="#">Payment Request</a></li>
        </ul>
      </li>

      <li>
        <a routerLink="/offers">
          <span class="material-icons-round">
            local_offer
          </span>
          <span class="menu-title">Offers</span>
        </a>
      </li>

      <li>
        <a routerLink="/users">
          <span class="material-icons-round">
            folder_shared
          </span>
          <span class="menu-title">Users</span>
        </a>
      </li>

      <li class="uk-parent">

        <a href="#">
          <span class="material-icons-round">
            account_balance
          </span>
          <span class="menu-title"> Finance</span>
          <span class="material-icons-outlined chev-down">
            navigate_next
          </span>
        </a>

        <ul class="uk-nav-sub">
          <li class="sidenav-dropdown"><a routerLink="/payment-history">Payment History</a></li>
          <li class="sidenav-dropdown"><a routerLink="/wallet-history">Wallet History</a></li>
          <li class="sidenav-dropdown"><a routerLink="/payment-request">Payment Request</a></li>
          <li class="sidenav-dropdown"><a routerLink="/add-wallet">Add Wallet</a></li>
          <li class="sidenav-dropdown"><a routerLink="/finance-stats">Stats</a></li>
        </ul>
      </li>

      <li>
        <a href="#">
          <span class="material-icons-round">
            insights
          </span>
          <span class="menu-title">Reports</span>
        </a>
      </li>

      <li>
        <a href="#">
          <span class="material-icons-round">
            settings_suggest
          </span> 
          <span class="menu-title">Settings</span>
        </a>
      </li>

    </ul>

  </div>

</div>
