.sidenav-bar {
  background-color: #f7f7f7;
  height: 100vh;
  overflow-x: auto;
  padding: 0px;
}

.sidenav-bar::-webkit-scrollbar {
  display: none;
}

.sidenav-logo {
  width: 45px;
  margin-top: 20px;
}

.sidenav-menu>li {
  padding: 0px 10px;
  margin-bottom: 5px;
}

.sidenav-menu>li>a {
  color: black;
  font-size: 10pt;
  font-family: 'Poppins', sans-serif;
}

.sidenav-menu>li>a::after {
  display: none;
}

.sidenav-menu>li>a>span:first-child {
  font-size: 14pt !important;
  margin-right: 20px;
  padding: 10px;
  background-color: #ffffff;
  color: black !important;
  border-radius: 10px;
}

.sidenav-menu>li:hover>a>span:first-child,
.sidenav-menu>li.uk-active>a>span:first-child,
.sidenav-menu>li.uk-open>a>span:first-child {
  color: #0920fb !important;
}

.sidenav-menu>li>a>span.chev-down {
  color: black;
  font-size: 12pt;
  margin-left: 30px;
}

.sidenav-menu>li.uk-open>a>span.chev-down {
  transform: rotate(90deg);
}

.is-closed>ul .uk-nav-sub,
.is-closed>ul span.menu-title,
.is-closed>ul span.chev-down {
  display: none !important;
}
 

.sidenav-dropdown {
  padding: 5px;
  margin-left: 20px;
}

.sidenav-dropdown>a {
  color: black;
  font-size: 9.5pt;
}

.uk-nav-sub {
  margin-left: 20px;
}
