<div class="uk-card sidenav-bar uk-card-body">

    <img [attr.src]="assetUrl + '/icon.png'" alt="" class="sidenav-logo uk-align-center">

    <div [ngClass]="{ 'uk-width-1-1@s uk-width-1-1@m uk-margin-top' : true, 'is-closed' : !open }">

        <ul class="uk-nav-default sidenav-menu uk-nav-parent-icon " uk-nav>

            <li class="uk-active ">
                <a routerLink="/">
                    <span class="material-icons-two-tone">
            home
          </span>
                    <span class="menu-title">Home</span>
                </a>
            </li>

            <li class="uk-parent">
                <a href="#">
                    <span class="material-icons-two-tone">
            local_mall
          </span>
                    <span class="menu-title">
            Orders
          </span>
                    <span class="material-icons-two-tone chev-down">
            navigate_next
          </span>
                </a>
                <ul class="uk-nav-sub">
                    <li class="sidenav-dropdown"><a routerLink="/orders">Orders</a></li>
                    <li class="sidenav-dropdown"><a routerLink="/returns">Return / Cancel</a></li>
                </ul>
            </li>

            <li>
                <a routerLink="/customers">
                    <span class="material-icons-two-tone">
            people
          </span>
                    <span class="menu-title">
            Customers
          </span>
                </a>
            </li>

            <li class="uk-parent">

                <a href="#">
                    <span class="material-icons-two-tone">
            storefront
          </span>
                    <span class="menu-title">Products</span>
                    <span class="material-icons-two-tone chev-down">
            navigate_next
          </span>
                </a>

                <ul class="uk-nav-sub">
                    <li class="sidenav-dropdown"><a routerLink="/products">Products</a></li>
                    <li class="sidenav-dropdown"><a routerLink="/products/add">Add Products</a></li>
                    <li class="sidenav-dropdown"><a routerLink="/product-groups">Product Groups</a></li>
                    <!-- <li class="sidenav-dropdown"><a routerLink="/upload-csv">Upload Csv</a></li> -->
                    <li class="sidenav-dropdown"><a routerLink="/categories">Categories</a></li>
                    <li class="sidenav-dropdown"><a routerLink="/sub-categories">Sub-Categories</a></li>
                    <li class="sidenav-dropdown"><a routerLink="/brands">Brands</a></li>
                </ul>
            </li>

            <li class="uk-parent">
                <a href="#">
                    <span class="material-icons-two-tone">
            menu
          </span>
                    <span class="menu-title">Manage Apps</span>
                    <span class="material-icons-two-tone chev-down">
            navigate_next
          </span>
                </a>
                <ul class="uk-nav-sub">
                    <li class="sidenav-dropdown"><a routerLink="/manage-shared">Shared</a></li>
                    <li class="sidenav-dropdown"><a routerLink="/manage-mobile">Mobile</a></li>
                    <li class="sidenav-dropdown"><a routerLink="/manage-desktop">Desktop</a></li>
                </ul>
            </li>


            <li class="uk-parent">
                <a href="#">
                    <span class="material-icons-two-tone">
                    local_offer
                  </span>
                    <span class="menu-title">Offers</span>
                    <span class="material-icons-two-tone chev-down">
          navigate_next
        </span>
                </a>
                <ul class="uk-nav-sub">
                    <li class="sidenav-dropdown"><a routerLink="/offers">Offers</a></li>
                    <li class="sidenav-dropdown"><a routerLink="/offerlists">Offerlists</a></li>
                </ul>
            </li>
            <li>
                <a routerLink="/users">
                    <span class="material-icons-two-tone">
            folder_shared
          </span>
                    <span class="menu-title">Users</span>
                </a>
            </li>

            <li class="uk-parent">

                <a>
                    <span class="material-icons-two-tone">
            account_balance
          </span>
                    <span class="menu-title"> Finance</span>
                    <span class="material-icons-two-tone chev-down">
            navigate_next
          </span>
                </a>

                <ul class="uk-nav-sub">
                    <li class="sidenav-dropdown"><a routerLink="/payment-history">Payment History</a></li>
                    <li class="sidenav-dropdown"><a routerLink="/wallet-history">Wallet History</a></li>
                    <li class="sidenav-dropdown"><a routerLink="/payment-request">Payment Request</a></li>
                    <li class="sidenav-dropdown"><a routerLink="/add-wallet">Add Wallet</a></li>
                    <li class="sidenav-dropdown"><a routerLink="/finance-stats">Stats</a></li>
                </ul>
            </li>
            <li class="uk-parent">

                <a>
                    <span class="material-icons-two-tone">
                    insights
                  </span>
                    <span class="menu-title"> Reports</span>
                    <span class="material-icons-two-tone chev-down">
          navigate_next
        </span>
                </a>

                <ul class="uk-nav-sub">
                    <li class="sidenav-dropdown"><a routerLink="/co-reports">Customers Orders</a></li>
                    <li class="sidenav-dropdown"><a routerLink="/sales-reports">Sales Reports</a></li>
                    <li class="sidenav-dropdown"><a routerLink="/product-reports">Product Reports</a></li>
                    <li class="sidenav-dropdown"><a routerLink="/customer-reports">Customer Reports</a></li>
                    <li class="sidenav-dropdown"><a routerLink="/brand-reports">Brands Reports</a></li>
                    <li class="sidenav-dropdown"><a routerLink="/trans-reports">Transaction Reports</a></li>
                    <li class="sidenav-dropdown"><a routerLink="/category-reports">Category Reports</a></li>
                    <li class="sidenav-dropdown"><a routerLink="/sub-reports">Sub Category Reports</a></li>
                    <li class="sidenav-dropdown"><a routerLink="/redeem-reports">Redeem Reports</a></li>
                    <li class="sidenav-dropdown"><a routerLink="/tax-reports">Taxed Products Reports</a></li>
                    <li class="sidenav-dropdown"><a routerLink="/wallet-reports">Wallet Reports</a></li>
                    <li class="sidenav-dropdown"><a routerLink="/rc-reports">Return & Cancel Reports</a></li>
                    <li class="sidenav-dropdown"><a routerLink="/rc-product-reports">R&C Product Reports</a></li>
                    <li class="sidenav-dropdown"><a routerLink="/p-lose">Profit & loss</a></li>
                    <li class="sidenav-dropdown"><a routerLink="/stats">Stats</a></li>
                </ul>
            </li>
            <li>
                <a routerLink="/settings">
                    <span class="material-icons-two-tone">
            settings_suggest
          </span>
                    <span class="menu-title">Settings</span>
                </a>
            </li>

        </ul>

    </div>

</div>
