
<div class="uk-card sidenav-bar uk-card-body">
  <img src="assets/img/icon.png" alt="" class="sidenav-logo">
  <div class="uk-width-1-1@s uk-width-1-1@m uk-margin-top">
    <ul class="uk-nav-default sidenav-menu uk-nav-parent-icon" uk-nav>
      <li class="uk-active"><a routerLink="/home"><span class="material-icons-outlined">
            home
          </span> Dashboard</a></li>
          <li class="uk-parent">
            <a href="#"><span class="material-icons-outlined">
                local_mall
              </span> Orders <span class="material-icons-outlined chev-down">
                navigate_next
              </span></a>
            <ul class="uk-nav-sub">
              <li class="sidenav-dropdown"><a routerLink="/orders">Orders</a></li>
              <li class="sidenav-dropdown"><a routerLink="/returns">Return / Cancel</a></li>
              <li class="sidenav-dropdown"><a routerLink="/refunds">Refund</a></li>
            </ul>
          </li>
      <li>
        <a routerLink="/customers" ><span class="material-icons-outlined">
            people
          </span> Customers </a>
      </li>
      <li class="uk-parent">
        <a href="#"><span class="material-icons-outlined">
            storefront
          </span> Products <span class="material-icons-outlined chev-down">
            navigate_next
          </span></a>
        <ul class="uk-nav-sub">
          <li class="sidenav-dropdown"><a routerLink="/products" >Products</a></li>
          <li class="sidenav-dropdown"><a href="#">Add Products</a></li>
          <li class="sidenav-dropdown"><a href="#">Upload Csv</a></li>
          <li class="sidenav-dropdown"><a href="#">Categories</a></li>
          <li class="sidenav-dropdown"><a href="#">Sub-Categories</a></li>
          <li class="sidenav-dropdown"><a href="#">Brands</a></li>
        </ul>
      </li>
      <li class="uk-parent">
        <a href="#"><span class="material-icons-outlined">
            travel_explore
          </span> Manage Apps <span class="material-icons-outlined chev-down">
            navigate_next
          </span></a>
        <ul class="uk-nav-sub">
          <li class="sidenav-dropdown"><a href="#">Payment Request</a></li>
          <li class="sidenav-dropdown"><a href="#">Payment Request</a></li>
        </ul>
      </li>
      <li><a href="#"><span class="material-icons-round">
        local_offer
      </span> Offers</a></li>
      <li><a href="#"><span class="material-icons-round">
        folder_shared
      </span> Users</a></li>
      <li><a href="#"><span class="material-icons-round">
        account_balance
      </span> Finance</a></li>
      <li><a href="#"><span class="material-icons-round">
        insights
      </span> Reports</a></li>
      <li><a href="#"><span class="material-icons-round">
        settings_suggest
      </span> Settings</a></li>
    </ul>
  </div>
</div>
