<div class="uk-width-expand@m">
    <div class="uk-card uk-padding-small uk-card-body">
        <p class="container-header uk-margin-remove">
            Return List

        </p>
        <ul class="uk-breadcrumb xo-breadcrumb uk-align-left uk-margin-remove">
            <li><a href="#">Home</a></li>
            <li><a href="#">Orders</a></li>
            <li class="uk-active"><a href="#">Return</a></li>
        </ul>
        <br>
        <div class="uk-grid-small uk-margin-small-top" uk-grid>
            <div class="uk-width-1-2@s">
                <div class="uk-inline uk-width-1-1 xo-searchbar">
                    <a class="uk-form-icon" href="#"><span class="material-icons-outlined">
                            search
                        </span></a>
                    <input class="uk-input uk-width-1-1 " placeholder="Search by number, name or address" type="text">
                </div>
            </div>
            <div class="uk-width-1-4@s">
                <input class="uk-input xo-datepicker" type="text" placeholder="Pick date" ngxDaterangepickerMd>
            </div>
            <div class="uk-width-1-4@s">
                <div class="uk-form-controls">
                    <select [ngModel]="returnOrderState" (ngModelChange)="filterReturnOrderList($event)"
                        class="uk-select xo-select" id="form-stacked-select">
                        <option [ngValue]="0">All</option>
                        <option *ngFor="let el of orderReturnStatusList" [ngValue]="el.id"> {{ el.name }} </option>
                    </select>
                </div>
            </div>
        </div>
        <br />
        <app-data-grid [columnDefs]="columnDefs" [gridData]="gridData">
        </app-data-grid>
        <div *ngIf="gridData != null && gridData.length == 0 && !isLoading" class="uk-text-center">
            <br/>
            <br/>
            <ng-container *ngIf="returnOrderState == 8">
                No Pending Returns
            </ng-container>
            <ng-container *ngIf="(returnOrderState == 2 || returnOrderState == 0)">
                No Returned/Cancelled Orders
            </ng-container>
        </div>
    </div>
</div>

<ng-template let-item let-data="columnVal" #moreColumn>
    <span class="material-icons-outlined xo-icon">
        more_vert
    </span>
    <div uk-drop="mode: click, pos: bottom-left">
        <div class="uk-card uk-card-body uk-width-auto uk-align-right uk-padding-remove">
            <div class="uk-width-1-1@s uk-width-1-1@m">
                <ul class="uk-nav uk-nav-default primary-table-drop">
                    <li><a (click)="viewOrder(item)">View</a></li>
                    <li><a>Print Invoice</a></li>
                    <li><a>Cancel</a></li>
                </ul>
            </div>
        </div>
    </div>
</ng-template>

<app-order-details [id]="orderDetailModal" [returnOrderId]="selectedOrderId" (updated)="orderUpdated()"></app-order-details>