<div class="uk-width-expand@m">
    <div class="uk-card uk-padding-small uk-card-body">
        <p class="container-header uk-margin-remove">
            Return List

        </p>
        <ul class="uk-breadcrumb xo-breadcrumb uk-align-left uk-margin-remove">
            <li><a href="#">Home</a></li>
            <li><a href="#">Orders</a></li>
            <li class="uk-active"><a href="#">Return</a></li>
        </ul>
        <br>
        <form class="uk-grid-small uk-margin-small-top" uk-grid>
            <div class="uk-width-1-2@s">
                <div class="uk-inline uk-width-1-1 xo-searchbar">
                    <a class="uk-form-icon" href="#"><span class="material-icons-outlined">
              search
            </span></a>
                    <input class="uk-input uk-width-1-1 " placeholder="Search by number, name or address" type="text">
                </div>
            </div>
            <div class="uk-width-1-4@s">
                <input class="uk-input xo-datepicker" type="text" placeholder="Pick date" ngxDaterangepickerMd>
            </div>
            <div class="uk-width-1-4@s">
                <div class="uk-form-controls">
                    <select class="uk-select xo-select" id="form-stacked-select">
            <option>Refund Status</option>
            <option>Refundable</option>
            <option>Non Refundable</option>
          </select>
                </div>
            </div>
        </form>
        <table class="uk-table uk-table-small primary-table">
            <thead>
                <tr>
                    <th></th>
                    <th>Return I'd</th>
                    <th>Order I'd</th>
                    <th>Name</th>
                    <th>Phone</th>
                    <th>Refund Type</th>
                    <th>Refund Amt</th>
                    <th>Payment Status</th>
                    <th>Total ₹</th>
                    <th>Type</th>
                    <th>Status</th>
                    <th class="uk-text-right">Action</th>
                </tr>
            </thead>
            <tbody>
                <tr href="#order-details-modal" uk-toggle>
                    <td><label><input class="uk-checkbox" type="checkbox"> </label>
                    </td>
                    <td>#819913889</td>
                    <td class="xo-red-color">#988199221</td>
                    <td>Abdul</td>
                    <td>9900141870</td>
                    <td>Non</td>
                    <td>0</td>
                    <td><span class="uk-badge moderate-badge">Un-Paid</span></td>
                    <td>1489 </td>
                    <td>Return</td>
                    <td>Pending</td>
                    <td class="uk-text-right">
                        <span class="material-icons-outlined xo-icon">
              more_vert
            </span>
                        <div uk-drop="pos: bottom-left">
                            <div class="uk-card uk-card-body uk-width-auto uk-align-right uk-padding-remove">
                                <div class="uk-width-1-1@s uk-width-1-1@m">
                                    <ul class="uk-nav uk-nav-default primary-table-drop">
                                        <li><a href="#order-details-modal" uk-toggle>View</a></li>
                                        <li><a href="#">Print Invoice</a></li>
                                        <li><a href="#">Cancel</a></li>
                                    </ul>
                                </div>
                            </div>
                        </div>
                    </td>
                </tr>
            </tbody>
        </table>
    </div>
</div>

<div id="order-details-modal" uk-modal>
    <div class="uk-modal-dialog uk-height-1-1 uk-modal-body">
        <button class="uk-modal-close-outside" type="button" uk-close></button>
        <div class="uk-text-center uk-grid-small uk-grid-match" uk-grid>
            <div class="uk-width-expand@m">
                <div class="uk-card od-products-grid uk-card-body uk-padding-small">
                    <table class="uk-table uk-table-small od-products-table uk-table-divider">
                        <thead>
                            <tr>
                                <th>#</th>
                                <th></th>
                                <th>Name</th>
                                <th>Qty</th>
                                <th>₹</th>
                            </tr>
                        </thead>
                        <tbody>
                            <tr>
                                <td>1</td>
                                <td class="uk-text-left od-product-img">
                                    <img src="assets/img/products/aashirvad.jpg" alt="">
                                </td>
                                <td class="od-product-name">Aashirvaad Organic Whole Wheat Atta <span>5 KG</span> </td>
                                <td class="od-product-qty">1</td>
                                <td class="od-product-price">287.00</td>
                                <td class="od-product-cancel"><span class="material-icons-round">
                    highlight_off
                  </span></td>
                            </tr>
                            <tr>
                                <td>1</td>
                                <td class="uk-text-left od-product-img">
                                    <img src="assets/img/products/aashirvad.jpg" alt="">
                                </td>
                                <td class="od-product-name">Aashirvaad Organic Whole Wheat Atta <span>5 KG</span> </td>
                                <td class="od-product-qty">2</td>
                                <td class="od-product-price">287.00</td>
                                <td class="od-product-cancel"><span class="material-icons-round">
                    highlight_off
                  </span></td>
                            </tr>
                        </tbody>
                    </table>
                </div>
            </div>
            <div class="uk-width-1-3@m">
                <div class="uk-card od-info-grid uk-padding-small uk-card-body">
                    <div class="od-invoice-grid">
                        <p class="od-info-title">Invoice for <span class="uk-float-right">#819913889</span></p>
                        <p class="od-customer-no">+91-9900141870</p>
                        <p class="od-customer-name">Abdul Kumshey</p>
                        <p class="od-customer-address">Magdoom colony azad street, Basha Manzil.</p>
                        <p class="od-delivery-type"> <span class="od-delivery-time">26.07.2021 | 2:00 - 4:00</span> <span class="od-order-type uk-float-right">Delivery</span></p>

                        <p class="cancel-reason ">Because of limited you</p>
                        <hr class="uk-divider-icon uk-margin-remove-bottom">
                        <table class="uk-table uk-table-small od-invoice-table uk-margin-remove-top uk-table-divider">
                            <tbody>
                                <tr>
                                    <td>Total Amount</td>
                                    <td>₹ 1481</td>
                                </tr>
                                <tr>
                                    <td>Refund Status</td>
                                    <td>Non</td>
                                </tr>
                                <tr>
                                    <td>Type</td>
                                    <td>Cancel</td>
                                </tr>
                            </tbody>
                        </table>
                        <p class="od-payable-amount"> <span>Refund Amount:</span> ₹ 0</p>
                        <p class="od-type-status"><span class="od-payment-status moderate-badge">Un Paid</span> <span class="od-payment-type uk-float-right">COD & Wallet</span></p>
                        <form class="uk-grid-small" uk-grid>
                            <div class="uk-width-1-1">
                                <select class="uk-select xo-select" id="form-horizontal-select">
                  <option>Pending</option>
                  <option>Confirmed</option>
                  <option>Refund Request</option>
                  <option>Cancel </option>
                </select>
                            </div>
                            <div class="uk-width-1-1@s">
                                <button class="uk-button uk-width-1-1 xo-button-primary">Update</button>
                            </div>
                        </form>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
