<div class="uk-width-expand@m">
  
  <form #form [formGroup]="formInstance">
    <div class="uk-card uk-padding-small uk-card-body">
      <p class="container-header uk-margin-remove">
        Add Sub Category
      </p>
      <ul class="uk-breadcrumb xo-breadcrumb uk-align-left uk-margin-remove">
        <li><a routerLink="">Home</a></li>
        <li><a routerLink="/sub-categories">Sub Categories</a></li>
        <li class="uk-active"><a routerLink="/add-sub">Add Categories</a></li>
      </ul>
      <br>
      <div class="uk-text-center uk-margin uk-grid-small uk-grid-match" uk-grid>
        <div class="uk-width-1-3@m">
          <xog-file-upload [formControlName]="'SubCategoryImages'" storageType="subcategory"
            uploadUrl="product/upload-images" class="uk-card img-upload-grid uk-padding-small uk-card-body">
          </xog-file-upload>
        </div>
        <div class="uk-width-expand@m">
          <div class="uk-card product-info-grid uk-padding-small uk-padding-remove-top uk-card-body uk-text-middle">
            <div class="uk-grid-small uk-text-left" uk-grid>
              <div class="uk-width-1-2@s">
                <label class="uk-form-label product-input-label" for="form-stacked-text"> Name *</label>
                <input [formControlName]="'SubCategoryName'" class="uk-input product-input" type="text" placeholder="">
              </div>
              <div class="uk-width-1-2@s">
                <label class="uk-form-label product-input-label" for="form-stacked-text">Category *</label>
                <select [formControlName]="'CategoryId'" class="uk-select product-select" id="form-stacked-select">
                  <option disabled value="-1">-- Select --</option>
                  <option *ngFor="let item of categoryList" [value]="item.Value">{{ item.Text }}</option>
                </select>
              </div>
              <div class="uk-width-1-1@s">
                <label class="uk-form-label product-input-label" for="form-stacked-text">Details *</label>
                <textarea [formControlName]="'SubCategoryDescription'" class="uk-textarea ap-product-textarea" rows="8"
                  placeholder=""></textarea>
              </div>
            </div>
          </div>
        </div>
      </div>
      <div class="uk-text-right uk-padding-small uk-padding-remove-vertical">
        <button class="uk-button ap-success-btn" (click)="submitForm()">Save</button>
        &nbsp;
        <button class="uk-button ap-button-danger" (click)="resetForm()">clear</button>
      </div>
    </div>
  </form>
</div>
