 <div class="uk-width-expand@m">
   <div class="uk-card uk-padding-small uk-card-body">
     <p class="container-header uk-margin-remove">
       Add products
     </p>
     <ul class="uk-breadcrumb xo-breadcrumb uk-align-left uk-margin-remove">
       <li><a routerLink="">Home</a></li>
       <li><a routerLink="/products">Products</a></li>
       <li class="uk-active"><a routerLink="/add-products">Return</a></li>
     </ul>
     <br>
     <div class="uk-text-center uk-margin uk-grid-collapse uk-grid-match" uk-grid>
       <div class="uk-width-1-3@m">
         <div class="uk-card img-upload-grid uk-padding-small uk-card-body">
           <p class="upload-title uk-margin-medium-top uk-margin-remove-bottom">
             upload your files
           </p>
           <p class="upload-img-note uk-margin-remove-top">file should be 256x256</p>
           <div class="js-upload uk-placeholder uk-text-center upload-file-grid uk-width-1-1" uk-form-custom>
             <span class="uk-text-middle"></span>
             <span class="uk-text-right"></span>
             <span class="material-icons-round ap-img-icon">
               folder
             </span>
             <br> <span class="ap-img-title ">Drag & Drop your files here</span>
             <input type="file" accept="image/png" multiple>
           </div>
         </div>
       </div>
       <div class="uk-width-expand@m">
         <div class="uk-card product-info-grid uk-padding-small uk-padding-remove-top uk-card-body uk-text-middle">
           <form class="uk-grid-small uk-text-left" uk-grid>
             <div class="uk-width-1-1">
               <label class="uk-form-label product-input-label" for="form-stacked-text">Product Name *</label>
               <input class="uk-input product-input" type="text" placeholder="">
             </div>
             <div class="uk-width-1-3@s">
               <label class="uk-form-label product-input-label" for="form-stacked-text">Select Category *</label>
               <select class="uk-select product-select" id="form-horizontal-select">
                 <option>Option 01</option>
                 <option>Option 02</option>
               </select>
             </div>
             <div class="uk-width-1-3@s">
               <label class="uk-form-label product-input-label" for="form-stacked-text">Sub-Category *</label>
               <select class="uk-select product-select" id="form-horizontal-select">
                 <option>Option 01</option>
                 <option>Option 02</option>
               </select>
             </div>
             <div class="uk-width-1-3@s">
               <label class="uk-form-label product-input-label" for="form-stacked-text">Brand *</label>
               <select class="uk-select product-select" id="form-horizontal-select">
                 <option>Option 01</option>
                 <option>Option 02</option>
               </select>
             </div>
             <div class="uk-width-1-1@s">
               <label class="uk-form-label product-input-label" for="form-stacked-text">Product Details *</label>
               <textarea class="uk-textarea ap-product-textarea" rows="5" placeholder=""></textarea>
             </div>
           </form>
         </div>
       </div>
     </div>
     <form class="uk-grid-small uk-text-left" uk-grid>
       <div class="uk-width-1-6@s">
         <label class="uk-form-label product-input-label" for="form-stacked-text">Measurement *</label>
         <input class="uk-input product-input" type="text" placeholder="">
       </div>
       <div class="uk-width-1-6@s">
         <label class="uk-form-label product-input-label" for="form-stacked-text">Unit *</label>
         <select class="uk-select product-select" id="form-stacked-select">
           <option>Option 01</option>
           <option>Option 02</option>
         </select>
       </div>
       <div class="uk-width-1-6@s">
         <label class="uk-form-label product-input-label" for="form-stacked-text">Price *</label>
         <input class="uk-input product-input" type="text" placeholder="">
       </div>
       <div class="uk-width-1-6@s">
         <label class="uk-form-label product-input-label" for="form-stacked-text">Discount Price *</label>
         <input class="uk-input product-input" type="text">
       </div>
       <div class="uk-width-1-6@s">
         <label class="uk-form-label product-input-label" for="form-stacked-text">Status *</label>
         <select class="uk-select product-select" id="form-stacked-select">
           <option>Available</option>
           <option>Option 02</option>
         </select>
       </div>
       <div class="uk-width-1-6@s">
         <label class="uk-form-label product-input-label" for="form-stacked-text">&nbsp; </label>
         <button class="uk-button product-button uk-width-1-1">
           add
         </button>
       </div>
     </form>
   </div>
 </div>
 <button class="uk-button ap-success-btn">Upload</button>
 <button class="uk-button ap-button-danger">clear</button>
