body {
  background-color: #dee1ec;
  font-family: 'Poppins', sans-serif;
}


.login-img {
  object-fit: cover;
  min-height: 100vh !important;
  width: 100%;
}

.login-grid {
  background-color: #dee1ec;
  height: 100vh;
}

.login-form-grid {
  background-color: white;
  border-radius: 8px;
  top:20%;
  width: 60%;
  overflow:hidden;
}

.login-logo {
  width: 50px;
}

.login-label {
  margin-bottom:8px;
  font-size:8pt;
  font-weight: 600;
  text-transform: uppercase;
  display:inline-block;
  letter-spacing: 1px;
}

.login-input {
  font-size: 10pt;
  color: black;
  border: 1px solid #dee1ec;
  background-color: #dee1ec;
  border-radius: 4px;
}

.login-input::placeholder {
  color: #00000070;
  font-size: 9pt;
  font-weight: 600;
}

.login-input-icon {
  color: black;
  cursor: pointer;
  font-size: 16pt;
}

.login-btn {
  background-color: #10316b;
  color: white;
  border-radius: 8px;
  text-transform: none;
  font-size: 10pt;
  padding: 4px 20px;
}

.login-btn:hover {
  background-color: #0b8457 ;
}

.forget-password {
  font-size: 9pt;
  color: grey;
  margin-top: 6px;
  font-weight: 400;
}

.forget-password>a {
  color: #10316b;
  text-decoration: none;
  font-weight: 500;
  font-weight: 10pt;
}

.forget-password>a:hover {
  color: #0b8457;
}
