<div class="uk-container uk-container-xlarge uk-padding-small">
    <p class="heading">manage shared apps</p>
    <div class="uk-child-width-1-2@s uk-child-width-1-5@m uk-text-center" uk-grid>
        <div>
            <div routerLink="/manage-homebanner" class="uk-card uk-padding-small  uk-card-body">
                <p class="title">Home Banner</p>
            </div>
        </div>
        <div>
            <div routerLink="/featured-lists" class="uk-card uk-padding-small uk-card-body">
                <p class="title">Featured Products</p>
            </div>
        </div>
        <div>
            <div routerLink="/manage-topbrands" class="uk-card uk-padding-small uk-card-body">
                <p class="title">Top Brands</p>
            </div>
        </div>
    </div>
</div>
