.uk-card {
    background-color: white;
    border: 2px solid #40404010;
    border-radius: 8px;
    cursor: pointer !important;
}

.title {
    font-size: 10pt;
    color: black;
}

.heading {
    color: black;
    font-size: 12pt;
    text-transform: capitalize;
}
