 <div class="uk-width-expand@m">
   <div class="uk-card uk-padding-small uk-card-body">
     <p class="container-header uk-margin-remove">
       Payment History
     </p>
     <ul class="uk-breadcrumb xo-breadcrumb uk-align-left uk-margin-remove">
       <li><a routerLink="">Home</a></li>
       <li><a routerLink="/payment-history">Payment History</a></li>
     </ul>
     <br>
     <table class="uk-table primary-table uk-table-small uk-table-divider">
       <thead>
         <tr>
           <th>#</th>
           <th>Order I'd</th>
           <th>User I'd</th>
           <th>Tr I'd</th>
           <th>Phone</th>
           <th>Type</th>
           <th>Total Amount</th>
           <th>Payment Type</th>
           <th>Status</th>
         </tr>
       </thead>
       <tbody>
         <tr>
           <td>1</td>
           <td>12719829189</td>
           <td>18729</td>
           <td>#819913889</td>
           <td>9900141870</td>
           <td>Cash</td>
           <td>1489</td>
           <td><span class="uk-badge danger-badge">Debit</span></td>
           <td>Delivered</td>
         </tr>
       </tbody>
     </table>
   </div>
 </div>
