<div class="uk-container uk-container-xlarge uk-padding-small">
    <p class="heading">Timing Details</p>
    <p class="day">Saturday</p>
    <div class="uk-child-width-1-2@s uk-child-width-1-2@m uk-text-center uk-grid-small" uk-grid>
        <div>
            <div class="uk-card add-grid uk-padding-small uk-text-left uk-card-body">
                <form class="uk-grid-small" uk-grid>
                    <div class="uk-width-1-2@s">
                        <label class="uk-form-label primary-label" for="form-horizontal-select">From</label>

                        <div class="uk-form-controls">
                            <select class="uk-select" id="form-horizontal-select">
                            <option>01:00 AM</option>
                            <option>Option 02</option>
                        </select>
                        </div>
                    </div>
                    <div class="uk-width-1-2@s">
                        <label class="uk-form-label primary-label" for="form-horizontal-select">To</label>

                        <div class="uk-form-controls">
                            <select class="uk-select" id="form-horizontal-select">
                              <option>02:00 AM</option>
                          <option>Option 02</option>
                      </select>
                        </div>
                    </div>
                    <div class="uk-width-1-1@s uk-text-right">
                        <button class="uk-button ent-btn uk-width-1-5">Add</button>
                    </div>
                </form>
                <div class="view-grid uk-margin-small">
                    <table class="uk-table view-table uk-table-small uk-table-divider">

                        <tbody>
                            <tr>
                                <td class="from">01:00 AM</td>
                                <td class="to">02:00 AM</td>
                                <td class="delete">
                                    <span class="material-icons-outlined">
                                    remove_circle
                                    </span>
                                </td>
                            </tr>
                            <tr>
                                <td class="from">01:00 AM</td>
                                <td class="to">02:00 AM</td>
                                <td class="delete">
                                    <span class="material-icons-outlined">
                                  remove_circle
                                  </span>
                                </td>
                            </tr>
                        </tbody>
                    </table>
                </div>
            </div>
        </div>
        <div>
            <div class="uk-card uk-padding-small uk-text-left uk-card-body">
                <div class="uk-width-1-2@s">
                    <label class="uk-form-label primary-label" for="form-horizontal-select">Active</label>

                    <div class="uk-form-controls">
                        <select class="uk-select" id="form-horizontal-select">
                      <option>Active</option>
                  <option>In-ACtive</option>
              </select>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
