<div class="uk-text-left">
    <ngx-spinner>
    </ngx-spinner>

    <h4 class="uk-margin-small uk-margin-remove-top">{{ parent.days[selectedDay?.value]?.name | titlecase }}</h4>

    <div class="uk-width-1-6">
        <select class="uk-select" id="form-horizontal-select" [(ngModel)]="isActive">
            <option value="true">Active</option>
            <option value="false">In-ACtive</option>
        </select>
    </div>

    {{ timeForm.value | json }}
    <div>
        <div class="uk-card add-grid uk-padding-small uk-text-left uk-card-body">
            <form class="uk-grid-small" uk-grid [formGroup]="timeForm" (ngSubmit)="timeForm.valid && addTiming()">

                <div class="uk-width-1-4@s">
                    <label class="uk-form-label primary-label" for="form-horizontal-select">Status</label>

                    <select class="uk-select" id="form-horizontal-select" formControlName="isActive">
                        <option [ngValue]="true">Active</option>
                        <option [ngValue]="false">In-ACtive</option>
                    </select>
                </div>
                <div class="uk-width-1-4@s">
                    <label class="uk-form-label primary-label" for="form-horizontal-select">From</label>

                    <div class="uk-form-controls">
                        <input [attr.disabled]="isActive ? null: true" formControlName="fromTime" class="uk-input"
                            type="time" />
                    </div>
                </div>
                <div class="uk-width-1-4@s">
                    <label class="uk-form-label primary-label" for="form-horizontal-select">To</label>

                    <div class="uk-form-controls">
                        <input formControlName="toTime" class="uk-input" [attr.disabled]="isActive ? null: true"
                            type="time" />
                    </div>
                </div>
                <div>
                    <label class="uk-form-label primary-label" for="form-horizontal-select">&nbsp;</label>
                    <br />
                    <input type="submit" class="uk-button" [attr.disabled]="isActive ? null: true"
                        class="uk-button ent-btn" value="Add" />
                </div>
            </form>
            <div class="view-grid uk-margin-small">
                <!-- {{ timingList | json }} -->
                <table class="uk-table view-table uk-table-small uk-table-divider">

                    <tbody>
                        <tr *ngFor="let timing of timingList">
                            <td class="from">{{ tConvert(timing.FromHours, timing.FromMinutes) }}</td>
                            <td class="to">{{ tConvert(timing.ToHours, timing.ToMinutes) }} </td>
                            <td class="delete">
                                <span class="material-icons-outlined">
                                    remove_circle
                                </span>
                            </td>
                        </tr>
                    </tbody>
                </table>
            </div>
        </div>
    </div>
</div>