<div class="table" *ngIf="gridData.length > 0" #scrollingBlock>
  <div class="table-header sticky" [style.width]="(sumWidth - 15) + 'px'" [style.min-width]="'100%'">
    <div class="table-header-row" 
    [style.transform]="'translateY(100)'">
      <div class="table-header-cell" *ngFor="let column of columnDefs"
        [style.width]="'calc(' + column.width + '% - 10px)'">
        {{ column.text }}
      </div>
    </div>
  </div>
  <ng-container *ngIf="gridData">
    <virtual-scroller #scroll class="table-body" [items]="gridData"
      [resizeBypassRefreshThreshold]="100" [style.width]="sumWidth + 'px'" [parentScroll]="scrollingBlock">
      <ng-container *ngFor="let item of scroll.viewPortItems">
        <div class="table-row">
          <ng-container *ngFor="let column of columnDefs">
            <div *ngIf="column.content == null" [attr.class]="column.classes != null ? column.classes : null"
              [style.width]="'calc(' + column.width + '% - 10px)'">
              {{ item[column.field] }}
            </div>
            <div [style.width]="'calc(' + column.width + '% - 10px)'" *ngIf="column.content != null"
              [attr.class]="column.classes != null ? column.classes : null">
              <ng-container [ngTemplateOutlet]="column.content"
                [ngTemplateOutletContext]="{ $implicit: item, columnVal: item[column.field] }">
              </ng-container>
            </div>
          </ng-container>
        </div>
      </ng-container>
    </virtual-scroller>
  </ng-container>
</div>