<div class="uk-child-width-1-2@s uk-grid-match uk-child-width-1-2@m uk-grid-collapse uk-text-center" uk-grid>
  <div>
    <div class="uk-card uk-padding-remove  uk-card-body">
      <img src="assets/img/login-1.jpg" alt="" class="login-img">
    </div>
  </div>
  <div>
    <div class="uk-card login-grid uk-card-body">
      <div class="uk-child-width-1-2@s uk-child-width-1-1@m uk-text-center" uk-grid>
        <div>
          <div class="uk-card login-form-grid uk-align-center uk-margin-large uk-card-body  ">
            <img src="assets/img/icon.png" class="login-logo" alt="">

            <form class="uk-form-stacked uk-margin-medium-top">

              <div class="uk-margin-remove">
                <div class="uk-form-controls">
                  <input class="uk-input login-input" id="form-stacked-text" type="email" placeholder="Enter OTP" name="email" ngModel email="true" >
                </div>
              </div>

              <button routerLink="/forget_passwordComponents" routerLinkActive="active" class="uk-button uk-width-1-1 login-btn uk-margin-small" >Confirm & Continue</button>
              <p class="forget-password">We will mail you new password</p>

            </form>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
