<div class="uk-width-expand@m">
  <div class="uk-card uk-padding-small uk-card-body">
    <p class="container-header uk-margin-remove">
      {{ isEdit ? "Edit" : "Add" }} Categories
    </p>
    <ul class="uk-breadcrumb xo-breadcrumb uk-align-left uk-margin-remove">
      <li><a routerLink="">Home</a></li>
      <li><a routerLink="/categories">Categories</a></li>
      <li class="uk-active" *ngIf="!isEdit"><a routerLink="/categories/add">Add Categories</a></li>
      <li class="uk-active" *ngIf="isEdit"><a routerLink="/categories/edit">Edit Categories</a></li>
    </ul>
    <br>
    <div class="uk-text-center uk-margin uk-grid-small uk-grid-match" uk-grid>
      <div class="uk-width-1-3@m">
        <div class="uk-card img-upload-grid uk-padding-small uk-card-body">
          <p class="upload-title uk-margin-medium-top uk-margin-remove-bottom">
            Upload Icon
          </p>
          <p class="upload-img-note uk-margin-remove-top">file should be 256x256</p>
          <div class="js-upload uk-placeholder uk-text-center upload-file-grid uk-width-1-1" uk-form-custom>
            <span class="uk-text-middle"></span>
            <span class="uk-text-right"></span>
            <span class="material-icons-round ap-img-icon">
              folder
            </span>
            <br> <span class="ap-img-title ">Drag & Drop your files here</span>
            <input type="file" accept="image/png" multiple>
          </div>
        </div>
      </div>
      <div class="uk-width-1-3@m">
        <div class="uk-card img-upload-grid uk-padding-small uk-card-body">
          <p class="upload-title uk-margin-medium-top uk-margin-remove-bottom">
            Upload Banner
          </p>
          <p class="upload-img-note uk-margin-remove-top">file should be 256x256</p>
          <div class="js-upload uk-placeholder uk-text-center upload-file-grid uk-width-1-1" uk-form-custom>
            <span class="uk-text-middle"></span>
            <span class="uk-text-right"></span>
            <span class="material-icons-round ap-img-icon">
              folder
            </span>
            <br> <span class="ap-img-title ">Drag & Drop your files here</span>
            <input type="file" accept="image/png" multiple>
          </div>
        </div>
      </div>
      <div class="uk-width-expand@m">
        <div class="uk-card product-info-grid uk-padding-small uk-padding-remove-top uk-card-body uk-text-middle">
          <form #form [formGroup]="formInstance" class="uk-grid-small uk-text-left" uk-grid>
            <div class="uk-width-1-1">
              <label class="uk-form-label product-input-label" for="form-stacked-text">Category Name *</label>
              <input [formControlName]="'CategoryName'" class="uk-input product-input" type="text" placeholder="">
            </div>
            <div class="uk-width-1-1@s">
              <label class="uk-form-label product-input-label" for="form-stacked-text">Category Details *</label>
              <textarea [formControlName]="'CategoryDescription'" class="uk-textarea ap-product-textarea" rows="8"
                placeholder=""></textarea>
            </div>
          </form>
        </div>
      </div>
    </div>
  </div>
</div>
<button class="uk-button ap-success-btn" (click)="submitForm()">Upload</button>
<button class="uk-button ap-button-danger">clear</button>
