.time-grid {
    background-color: #04040420;
    border-radius: 8px;
    padding: 10px;
    cursor: pointer;
}

.day-title {
    font-size: 10pt;
    color: black;
}

.uk-select {
    background-color: #04040410;
    color: black;
    font-size: 10pt;
    border-radius: 4px;
    border: 1px solid #04040420;
}

.primary-label {
    font-size: 9pt;
    display: inline-block;
    margin-bottom: 10px;
}
