<ngx-spinner>
</ngx-spinner>

<app-settings-nav>


    <p class="container-header uk-margin-remove">
        Taxes
    </p>
    <div>
        <ul class="uk-breadcrumb xo-breadcrumb uk-align-left uk-margin-remove">
            <li><a routerLink="/settings">Settings</a></li>
            <li><a routerLink="/settings/quantity-measures">Taxes</a></li>
        </ul>
    </div> <br>
    <div class="uk-container uk-container-xlarge uk-padding-small">
        <div class="uk-child-width-1-2@s uk-child-width-1-6@m uk-grid-small uk-text-center" uk-grid>
            <div>
                <div routerLink="/timing-details" class="uk-card time-grid uk-card-body">
                    <p class="day-title">Saturday</p>
                </div>
            </div>
            <div>
                <div class="uk-card time-grid uk-card-body">
                    <p class="day-title">Sunday</p>
                </div>
            </div>
        </div>
    </div>
    <div class="uk-container uk-container-xlarge uk-padding-small uk-text-left">
        <div class="uk-width-1-6@s">
            <label class="uk-form-label primary-label" for="form-horizontal-select">show result in</label>

            <div class="uk-form-controls">
                <select class="uk-select" id="form-horizontal-select">
          <option>1</option>
      <option>2</option>
  </select>
            </div>
        </div>
    </div>
</app-settings-nav>
