<ngx-spinner>
</ngx-spinner>

<app-settings-nav>


    <p class="container-header uk-margin-remove">
        Timings
    </p>
    <div>
        <ul class="uk-breadcrumb xo-breadcrumb uk-align-left uk-margin-remove">
            <li><a routerLink="/settings">Settings</a></li>
            <li><a routerLink="/settings/delivery-timings">Timings</a></li>
        </ul>
    </div> <br>
    <div class="uk-container uk-container-xlarge uk-padding-small">
        <div uk-grid>
            <div class="uk-width-1-5 days-panel">
                <ul class="uk-nav-default uk-nav-parent-icon" uk-nav>
                    <ng-container *ngFor="let day of days">
                        <li><a [attr.active]="day.name == selectedDay" routerLink="/settings/delivery-timings/{{ day.name.toLowerCase() }}">{{ day.name }} </a>
                        </li>
                    </ng-container>
                </ul>
                <!--  <ng-container *ngFor="let day of days">
                    <div routerLink="/settings/delivery-timings/{{ day.name.toLowerCase() }}"
                        class="uk-card time-grid uk-card-body">
                        <label class="day-title">{{ day.name }} </label>
                    </div>
                    <br />
                </ng-container> -->
            </div>

            <div class="uk-width-4-5">
                <router-outlet></router-outlet>
            </div>
        </div>

    </div>
</app-settings-nav>