<div class="uk-width-expand@m">
  <div class="uk-card uk-padding-small uk-card-body">
    <p class="container-header uk-margin-remove">
      Bulk Upload
    </p>
    <ul class="uk-breadcrumb xo-breadcrumb uk-align-left uk-margin-remove">
      <li><a routerLink="">Home</a></li>
      <li><a routerLink="/products">Products</a></li>
      <li class="uk-active"><a routerLink="/upload-csv">Bulk Upload</a></li>
    </ul>
    <br>
    <div
      class="uk-child-width-1-2@s uk-flex-center uk-margin-medium-top uk-child-width-1-2@m uk-text-center uk-grid-collapse"
      uk-grid>
      <div>
        <div class="uk-card bu-grid uk-padding-small uk-card-body">
          <form class="uk-grid-small uk-text-left" uk-grid>
            <div class="uk-width-1-1">
              <label class="uk-form-label product-input-label" for="form-stacked-text">Type</label>
              <select class="uk-select product-select" id="form-stacked-select">
                <option>Option 01</option>
                <option>Option 02</option>
              </select>
            </div>
            <div class="uk-width-1-1@s">
              <div uk-form-custom="target: true" class="uk-width-1-1">
                <label class="uk-form-label product-input-label" for="form-stacked-text">CSV File</label>
                <input type="file">
                <input class="uk-input product-input uk-width-1-1 uk-form-width-medium" type="text"
                  placeholder="Select file" disabled>
              </div>
            </div>
            <div class="uk-width-1-2@s">
              <button class="uk-button xo-sample-btn uk-width-1-1">download sample</button>
            </div>
            <div class="uk-width-1-2@s">
              <button class="uk-button product-button uk-width-1-1">Upload</button>
            </div>
          </form>
        </div>
      </div>
    </div>

  </div>
</div>