<div class="uk-width-expand@m">
    <div class="uk-card uk-padding-small uk-card-body">
        <p class="container-header uk-margin-remove">
            {{ isEdit ? "Edit" : "Add" }} Offer Display
        </p>
        <ul class="uk-breadcrumb xo-breadcrumb uk-align-left uk-margin-remove">
            <li><a routerLink="">Home</a></li>
            <li><a routerLink="/offers">Offer Display</a></li>
            <li class="uk-active"><a routerLink="/add-offers">{{ isEdit ? "Edit" : "Add" }} Offer Display</a></li>
        </ul>
        <br/>
        <br/>
        <form #form [formGroup]="formInstance" (ngSubmit)="formInstance.valid && addOfferBanner()"
            class="uk-text-center uk-margin uk-grid-small uk-grid-match" uk-grid>
            <div class="uk-width-1-3@m">
                <xog-file-upload [formControlName]="'BannerImageUrls'" storageType="offerbanner"
                    uploadUrl="product/upload-images" class="uk-card img-upload-grid uk-padding-small uk-card-body">
                </xog-file-upload>
            </div>
            <div class="uk-width-expand@m">
                <div
                    class="uk-card product-info-grid uk-padding-small uk-padding-remove-top uk-card-body uk-text-middle">
                    <div class="uk-grid-small uk-text-left" uk-grid>
                        <div class="uk-width-1-1@s">
                            <label class="uk-form-label product-input-label" for="form-stacked-text"> Name *</label>
                            <input formControlName="DisplayName" class="uk-input product-input" type="text"
                                placeholder="Display Name">
                        </div>
                        <div class="uk-width-1-2@s">
                            <label class="uk-form-label product-input-label" for="form-stacked-text"> URL *</label>
                            <input formControlName="OfferUrl" class="uk-input product-input" type="text"
                                placeholder="URL">
                        </div>
                        <div class="uk-width-1-2@s">
                            <label class="uk-form-label product-input-label" for="form-stacked-text">Status *</label>
                            <select formControlName="OfferStatus" class="uk-select product-select"
                                id="form-stacked-select">
                                <option *ngFor="let item of statusList" [ngValue]="item.id">{{ item.name }}</option>
                            </select>
                        </div>
                        <div class="uk-width-1-2@s">
                            <label class="uk-form-label product-input-label" for="form-stacked-text"> Offer List</label>
                            <select formControlName="OfferStatus" class="uk-select product-select"
                                id="form-stacked-select">
                                <option *ngFor="let item of offerList" [ngValue]="item.Id">{{ item.DisplayName }}</option>
                            </select>
                        </div>
                        <div class="uk-width-1-2@s">
                            <label class="uk-form-label product-input-label" for="form-stacked-text"> Placement </label>
                            <select formControlName="Placement" class="uk-select product-select"
                                id="form-stacked-select">
                                <option *ngFor="let item of placementList" [ngValue]="item.id">{{ camelCaseToSpacedText(item.name) }}</option>
                            </select>
                        </div>
                        <div class="uk-width-1-1@s">
                            <label class="uk-form-label product-input-label" for="form-stacked-text">Details *</label>
                            <textarea formControlName="Description" class="uk-textarea ap-product-textarea" rows="3"
                                placeholder="Description"></textarea>
                        </div>
                    </div>
                </div>
            </div>
            <div class="uk-width-1-1">
                <div>
                    <br />
                    <button type="submit" class="uk-button ap-success-btn"> {{ isEdit ? "Update" : "Create" }}</button>
                    <button class="uk-button ap-button-danger">clear</button>
                </div>
            </div>
        </form>
    </div>
</div>